@font-face {
    font-family: 'Roboto';
    src: url(./Fonts/Roboto-Regular.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 2% 4%;
    border-radius: 10px;
   /* width: 14vw;
    height: 12vh;*/
}
  
button:hover {
    background-color: #555555;
    color: white;
}

.mainSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 28vw;
    height: 30vh;
    gap: 1vw 1vw;
    margin-left: 30vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    align-items: center;
}

.buttonsSection {
    width:28vw;
    display: flex;
    flex-direction: column;
    padding: 4%;
    margin-top: 0;
    gap: 1vw 1vw;
}

footer {
    font-size: 4vw;
}

.specialButons {
    font-size: 2vw;
}

textarea {
    height: 10vh;
    text-align: right;
}

ul {
    list-style-type: none;
    height: 20vh;
}

input[type="radio"]{
    padding:5px;
    border:2px solid black; 
    cursor:pointer;
}


