@font-face {
    font-family: 'Roboto';
    src: url(./Fonts/Roboto-Regular.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 3vw;
}

button {
    background-color: rgb(214, 214, 214);
    color: black;
    border: 2px solid #a0a0a0;
    padding: 2% 4%;
    border-radius: 10px ;
    border: 3px solid  #5f5f5f;
    width: 5vw;
}
  
button:hover {
    background-color: #555555;
    color: white;
    cursor: pointer;
}

.mainSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 24vw;
    margin-left: 34vw;
    margin-top: 10vh;
    margin-bottom: 10vh;
    align-items: center;
    min-width: 300px;
    padding: 5px;
    background-color:rgb(224, 255, 240);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 5px;
    border: 6px solid rgb(88, 88, 88);
    
}

@media screen and (max-width: 600px) {
    .mainSection {
        margin-left: 20vw;
    }
  }

.buttonsSection {
    width:34vw;
    display: flex;
    flex-direction: column;
    margin-top: 0;
    gap: 1vw 1vw;
}

footer {
    font-size: 4vw;
}

.specialButons {
    font-size: 2vw;
}

textarea {
    height: 10vh;
    text-align: right;
    border-radius: 8px;
}

input[type="radio"] {
    opacity: 0;
    
    width: 0;
}
  
label {
    display: inline-block;
    background-color: rgb(175, 255, 222);
    padding: 2% 4%;
    width: 3vw;
    font-size: 2.5vw;
    border: 2px solid #444;
    border-radius: 4px;
    height: auto;
    text-align: center;
}
  
label:hover {
    background-color: #dfd;
    cursor: pointer;
}
  
input[type="radio"]:focus + label {
    border: 2px solid #444;
}
  
input[type="radio"]:checked + label {
    background-color: #bfb;
    border-color: rgb(255, 62, 62);
}