@font-face {
    font-family: 'Roboto';
    src: url(./Fonts/Roboto-Regular.ttf);
}

* {
    font-family: 'Roboto', sans-serif;
    font-size: 10vw;
}

button {
    background-color: white;
    color: black;
    border: 2px solid #555555;
    padding: 4%;
    border-radius: 10px;
}
  
button:hover {
    background-color: #555555;
    color: white;
}

.mainSection {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 40vw;
    gap: 2vw 2vw;
    margin-left: 30vw;
}

.buttonsSectionItems {
    flex: 1;
}

footer {
    font-size: 4vw;
}